
#div1{width: 200px;
    height: 200px;
    margin-top: 20px;
    background-image: linear-gradient(to left bottom, red,green,blue);
    border: solid 2px black;
}
#div2{width: 200px;
    height: 200px;
    margin-top: 20px;
    background-image: linear-gradient(-70deg,yellow,purple 25%);
    border: solid 2px black;}
    
p{  width: 200px;
    height: 200px;
    top: 20px;
    background-image: linear-gradient(to top, rgb(255, 255, 255,0.5), rgb(0, 0, 0,0.5)); 
    border: solid 2px black;
}
#div3{width: 200px;
    height: 200px;
    margin-top: 20px;
    border: solid 2px black;
background-image: radial-gradient(circle at center,rgb(172, 218, 248),pink);}
#div4{width: 200px;
    height: 200px;
    margin-top: 20px;
    border: solid 2px black;
background-image: -webkit-repeating-radial-gradient(black,white 10px) ;}